<a href="https://colab.research.google.com/github/chlin1/Python/blob/master/Welcome_To_Colaboratory.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<p><img alt="Colaboratory logo" height="45px" src="/img/colab_favicon.ico" align="left" hspace="10px" vspace="0px"></p>

<h1>Welcome to Colaboratory!</h1>


Colaboratory is a free Jupyter notebook environment that requires no setup and runs entirely in the cloud.

With Colaboratory you can write and execute code, save and share your analyses, and access powerful computing resources, all for free from your browser.

In [0]:
#@title Introducing Colaboratory { display-mode: "form" }
#@markdown This 3-minute video gives an overview of the key features of Colaboratory:
from IPython.display import YouTubeVideo
YouTubeVideo('inN8seMm7UI', width=600, height=400)

## Getting Started

The document you are reading is a  [Jupyter notebook](https://jupyter.org/), hosted in Colaboratory. It is not a static page, but an interactive environment that lets you write and execute code in Python and other languages.

For example, here is a **code cell** with a short Python script that computes a value, stores it in a variable, and prints the result:

In [0]:
seconds_in_a_day = 24 * 60 * 60
seconds_in_a_day

86400

To execute the code in the above cell, select it with a click and then either press the play button to the left of the code, or use the keyboard shortcut "Command/Ctrl+Enter".

All cells modify the same global state, so variables that you define by executing a cell can be used in other cells:

In [0]:
seconds_in_a_week = 7 * seconds_in_a_day
seconds_in_a_week

604800

For more information about working with Colaboratory notebooks, see [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb).

## More Resources

Learn how to make the most of Python, Jupyter, Colaboratory, and related tools with these resources:

### Working with Notebooks in Colaboratory
- [Overview of Colaboratory](/notebooks/basic_features_overview.ipynb)
- [Guide to Markdown](/notebooks/markdown_guide.ipynb)
- [Importing libraries and installing dependencies](/notebooks/snippets/importing_libraries.ipynb)
- [Saving and loading notebooks in GitHub](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)
- [Interactive forms](/notebooks/forms.ipynb)
- [Interactive widgets](/notebooks/widgets.ipynb)
- <img src="/img/new.png" height="20px" align="left" hspace="4px" alt="New"></img>
 [TensorFlow 2 in Colab](/notebooks/tensorflow_version.ipynb)

### Working with Data
- [Loading data: Drive, Sheets, and Google Cloud Storage](/notebooks/io.ipynb) 
- [Charts: visualizing data](/notebooks/charts.ipynb)
- [Getting started with BigQuery](/notebooks/bigquery.ipynb)

### Machine Learning Crash Course
These are a few of the notebooks from Google's online Machine Learning course. See the [full course website](https://developers.google.com/machine-learning/crash-course/) for more.
- [Intro to Pandas](/notebooks/mlcc/intro_to_pandas.ipynb)
- [Tensorflow concepts](/notebooks/mlcc/tensorflow_programming_concepts.ipynb)
- [First steps with TensorFlow](/notebooks/mlcc/first_steps_with_tensor_flow.ipynb)
- [Intro to neural nets](/notebooks/mlcc/intro_to_neural_nets.ipynb)
- [Intro to sparse data and embeddings](/notebooks/mlcc/intro_to_sparse_data_and_embeddings.ipynb)

### Using Accelerated Hardware
- [TensorFlow with GPUs](/notebooks/gpu.ipynb)
- [TensorFlow with TPUs](/notebooks/tpu.ipynb)

## Machine Learning Examples: Seedbank

To see end-to-end examples of the interactive machine learning analyses that Colaboratory makes possible, check out the [Seedbank](https://research.google.com/seedbank/) project.

A few featured examples:

- [Neural Style Transfer](https://research.google.com/seedbank/seed/neural_style_transfer_with_tfkeras): Use deep learning to transfer style between images.
- [EZ NSynth](https://research.google.com/seedbank/seed/ez_nsynth): Synthesize audio with WaveNet auto-encoders.
- [Fashion MNIST with Keras and TPUs](https://research.google.com/seedbank/seed/fashion_mnist_with_keras_and_tpus): Classify fashion-related images with deep learning.
- [DeepDream](https://research.google.com/seedbank/seed/deepdream): Produce DeepDream images from your own photos.
- [Convolutional VAE](https://research.google.com/seedbank/seed/convolutional_vae): Create a generative model of handwritten digits.

# [Markdown](https://colab.research.google.com/notebooks/markdown_guide.ipynb#scrollTo=70pYkR9LiOV0)
- Headers are created using #. Use multiple ### for less emphasis.
- To make text bold surround it with **two asterisks**. To make text italic use a *single asterisk* or _underscore_. Strikethrough uses ~~two tildes~~ while monospace (such as code) uses `backtick`.
-Blocks are indented with >, and multiple levels of indentation are indicated by repetition: >>> indents three levels.
-Ordered lists are created by typing any number followed by a period at the beginning of a line. Unordered lists are * or - at the beginning of a line. Lists can be nested by indenting using two spaces for each level of nesting.
-Links are created with [brackets around the linked text](and-parentheses-around-the-url.html). 
-A '!' character in front of a link turns it into an inline image link: !\[Alt text]\(link-to-an-image.png).
-$\LaTeX$ equations are surrounded by `$`. For example, `$y = 0.1 x$` renders as the following inline equation: $y = 0.1 x$. Double the `$` to set the contents off on its own centered line.
-Horizontal rules are created with three or more hyphens, underscores, or asterisks (\-\-\-, \_\_\_, or \*\*\*) on their own line.

- Tables are created using \-\-\- for the boundary between the column header and columns and \| between the columns.

- Please see also [GitHub's documentation](https://help.github.com/articles/basic-writing-and-formatting-syntax/) for a similar (but not identical) version of markdown.

# Python syntax

## strings

In [3]:
x = "Nancy"
print(x)
print(x[0:3])
s= "My number is %d" %7
print(s)
s= "My number is "+str(7)
print(s)

Nancy
Nan
My number is 7
My number is 7

## replace

In [5]:
s = "Hellow world"
s = s.replace("world", "universe")
print(s)
s =  "Hellow world world world"
s = s.replace("world", "universe",2)
print(s)

Hellow universe
Hellow universe universe world

## string find
obj.find("query",start,end)
if "string1" in "string2":

In [9]:
s = "123343133"
index = s.find("33")
print(index)
index = s.find("33",3)
print(index)

2
7

## join
The join(sequence) method joins elements and returns the combined string. The join methods combines every element of the sequence.

In [12]:
sequence = ("abc", "def")
name =" ".join(sequence)
print(name)
words = ["How", "are", "you","doing","?"]
sentence = " ".join(words)
print(sentence)

abc def
How are you doing ?

split

String to words: A string can be split into substrings using the split(param) method
String to characters: use list()

In [13]:
s = "its to easy"
words = s.split()
print(words)

['its', 'to', 'easy']

In [14]:
word = "Easy"
x = list(word)
print(x)

['E', 'a', 's', 'y']

## random number

 import module

In [15]:
import random
print(random.random()) #floating number
print(random.randrange(0,10)) # integer between 0 and 10
print(random.uniform(0,10)) #floating number between 0 and 10

0.3481751012668812
8
8.321845931305496

## keyboard input

The input() function will ask keyboard input from the user.

In [18]:
name = input ("what is your name? ")
print ('Hello ' + name + "!")

what is your name? CL
Hello CL !

## if statements

In [20]:
number = input ("input a number: ")
if int(number) %2 == 0:
  print ("your number is even")
else:
  print("your number is odd")

input a number: 13
your number is odd

## for loops

In [21]:
list1 = ['a','b','c','d']
for x in list1:
  print(x)
print('\n')
list2 = [1,2,3,4]
for x in list2:
  print(str(x)+'*'+str(x)+'='+str(x*x))

a
b
c
d


1*1=1
2*2=4
3*3=9
4*4=16

## while loop

In [22]:
x = 3
while x < 7:
  print(x)
  x = x + 1

3
4
5
6

## functions

In [23]:
def f(x,y):
  return x*y 

print(f(3,4))

12

## lists

In [24]:
list1 = ['a','b','c']
print(list1[1])
list2 = [1,3,4,2,7]
print(list2[-1])
print(sum(list2))

b
7
17

list operations

In [27]:
x=[3,4,5]
x.append(6)
print(x)
x.append(7)
print(x)
x.pop()
print(x)
print(x[1:3])

[3, 4, 5, 6]
[3, 4, 5, 6, 7]
[3, 4, 5, 6]
[4, 5]

sort list

x.sort()

words = words[::-1]

x = list(reversed(x))

In [31]:
x=[4,2,5,7,3,4,0]
x.sort()
print(x)
y=['c','e','2','a','b']
y.sort()
print(y)
x = list(reversed(x))
print(x)
print(y[::-1])

[0, 2, 3, 4, 4, 5, 7]
['2', 'a', 'b', 'c', 'e']
[7, 5, 4, 4, 3, 2, 0]
['e', 'c', 'b', 'a', '2']

## range function

In [33]:
x= list(range(3,8))
print(x)
for i in range(5,9):
  print(i)

[3, 4, 5, 6, 7]
5
6
7
8

## dictionary

 they contain a list of items, each item has a key and a value.

 words = {}

words[key] = value

In [35]:
words = {}
words['1'] = 'a'
words['2'] = 'b'
words['3'] = 'c'
print(words['2'])

b

## read file

line by line: readlines()

read block: read()

In [0]:
filename = 'file.py'
with open(filename) as f:
  content = f.readlines()  # line by line

print(content)

In [0]:
filename = "file.py"

inflie = open(filename, 'r')
data = infile.read() 
infile.close()

print(data)

write file

In [0]:
f = open('test.txt', 'w') # to write
f.write("first line, \n")
f.write("second line")
f.close()

f = open('test.txt', 'a') # to append
f.write("first line, \n")
f.write("second line")
f.close()

## nested loops

In [40]:
for i in range(0,3):
  s=[]
  for j in range(0,3):
    s.append((i,j))
  print(s)

[(0, 0), (0, 1), (0, 2)]
[(1, 0), (1, 1), (1, 2)]
[(2, 0), (2, 1), (2, 2)]

## slices

In [44]:
list1 = ['a','b','c']
slice = list1[0:2]
print(slice)
s = 'summer holiday at beach'
print(s[3:12])

['a', 'b']
mer holid

## multiple return

In [45]:
def getPerson():
  name = "Leona"
  age = 35
  country = "UK"
  return name, age, country

name, age, country = getPerson()
print(name,age,country)

Leona 35 UK

## scope

In [46]:
x = 0
def add1(y):
  global x
  x = x + y

add1(5)
print(x)

5

## time and date

import time

In [53]:
import time
timenow = time.localtime(time.time())
print(timenow)
year,month,day,hour,minute = timenow[0:5]
print(str(day) + "/" + str(month) + "/" + str(year))
print(str(hour) + ":" + str(minute))
time.time() # get the number of seconds since epoch time
time.gmtime() # To get the time sequence
time.asctime() # Time in string
time.ctime()

time.struct_time(tm_year=2019, tm_mon=12, tm_mday=20, tm_hour=20, tm_min=32, tm_sec=36, tm_wday=4, tm_yday=354, tm_isdst=0)
20/12/2019
20:32

'Fri Dec 20 20:32:36 2019'

In [54]:
print("Hello")
time.sleep(1) # You can make the program hault execution.
print("World")
time.sleep(1)

Hello
World